@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  height: 90vh;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_left {
  display: flex;
  flex-direction: row;
  padding-left: 5rem;
  width: 60%;
}

.nav_left .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
}

.nav_left .navlinks li {
  margin-left: 3rem;
  cursor: pointer;
}

.nav_left .navlinks li:hover {
  border-bottom: 2px solid var(--orange);
}

.nav_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 5rem;
  width: 40%;
  height: 3rem;
  margin-left: 5rem;
}

.cart_btn {
  border: none;
  background: none;
  padding-top: 1rem;
}

.cart_btn:hover {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.avatar:hover {
  outline: 2px solid var(--orange);
}

.cart_container {
  position: relative;
}

.cart_wrap {
  position: absolute;
  left: -260px;
  top: 50px;
  z-index: 30;
  width: 350px;
  height: 250px;
  background-color: var(--white);
  box-shadow: 0 0 15px 0 #000000;
  border-radius: 10px;
}

.invisible {
  display: none;
}

.cart_heading {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--black);
}

.cart_content {
  height: 200px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: 80vh;
  margin: auto;
}

.product_img {
  width: 50%;
  height: 100%;
}

.thumbnail {
  width: 70%;
  height: 80%;
  margin: auto;
}

.thumbnail img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.product_details {
  width: 40%;
  height: 100%;
  margin-right: 8rem;
}

.preview {
  width: 70%;
  height: 20%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.preview img {
  height: 100%;
  width: 20%;
  border-radius: 10px;
}

.product_header {
  height: 5%;
  color: var(--orange);
  font-weight: 700;
  padding: 1.25rem;
  margin-top: 1rem;
}

.product_title {
  height: 25%;
  font-size: 1.25rem;
  margin-top: 1rem;
  padding: 1.25rem;
}

.product_desc {
  height: 20%;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
  padding: 1.25rem;
}

.product_price {
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 50%;
  flex-wrap: wrap;
}

.box {
  display: inline-block;
  background-color: var(--pale-orange);
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--orange);
}

.old_price {
  font-weight: normal;
  font-size: 1rem;
  color: var(--grayish-blue);
  text-decoration: line-through;
  margin-top: -2rem;
}

.cart_section {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.quantity {
  display: flex;
  gap: 2rem;
  background-color: var(--light-grayish-blue);
  padding: 1rem;
  border-radius: 10px;
}

.minus, .plus {
  cursor: pointer;
} 

.quantity input {
  width: 5rem;
  font-weight: bold;
  background:none;
  border: none;
  width: 2rem;
  text-align: center;
}

.add_to_cart {
  border: none;
  background: var(--orange);
  cursor: pointer;
  color: white;
  width: 60%;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.add_to_cart img {
  filter: brightness(0) invert(1);
}